header[role="banner"] {
  height: auto;
  text-align: center;
  color: #3A3A3A;
  background-color: #dfdfdf;
  padding: 15px; }

article {
  width: 80%; }
  article .content img {
    max-width: 100%; }
  article span {
    display: flex;
    justify-content: center; }

article.overview {
  flex-flow: column wrap; }

@media screen and (max-width: 756px) {
  article {
    width: 100%;
    padding: 15px; }
    article .main-header {
      align-self: flex-end; } }
