header[role="banner"] {
  height: auto;
  text-align: center;
  color: #3A3A3A;
  background-color: #dfdfdf;
  padding: 15px; }

article.overview {
  flex-flow: row nowrap; }

@media screen and (max-width: 756px) {
  article .main-header {
    align-self: flex-end; } }
