@import 'variables.scss';


.portfolio-content {
  article {
    margin: 3rem auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    article {
      align-self: flex-start;
    }
    img {
      width: 350px;
    }
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
  }
  header {
    &.ShareAndTear {
      background: url("/images/case_studies/ShareAndTear_Case/shareandtear_banner.jpg");
    }
    &.NCTrans {
      background: url("/images/case_studies/NCTrans_Case/nctrans_banner.jpg");
    }
  }
  .overview {
    justify-content: center;
    section {
      width: 22%;
      margin: 10px;
    }
    p {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @include query($small-screen) {
    margin: 0;
    article {
      margin: 0.5rem;
    }
    p {
      margin: 0.5rem;
    }
    .overview section {
      margin: 0;
      padding: 0 10px;
      width: 100%;
    }
  }
}

.portfolio-header {
  height: auto;
  text-align: center;
  padding: 5rem;
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  h3 {
    @include transitioner();
    width: 60%;
    margin: auto;
    background-color: $maskingtape;
    color: $charcoal;
    font-size: 3rem;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: $default-line-height !important;
  }
  p {
    background-color: $maskingtape;
    color: $charcoal;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
}

#Challenges, #Research {
  span {
    width: 230px;
    padding: 10px;
    img {
      width: 100%;
      padding: 5px;
    }
  }
}
#Branding, #Objective, #Wireframes {
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 2rem 1rem;
  header {
    padding: 0;
    h2 {
      color: $charcoal;
      margin: auto;
      border-bottom: 3px solid $charcoal;
      border-top: 3px solid $charcoal;
    }
  }
  .content {
    display:flex;
    flex-flow:row wrap;
    p {
      color: $charcoal;
    }
    a {
      color: $charcoal;
      &:hover {
        color: lighten($charcoal, 20%);
      }
    }
    span {
      width: 200px;
      padding: 10px;
    }
    article {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      flex-flow: row wrap;
      justify-content: center;
      img {
        height: auto;
        padding: 0;
      }
    }
    .final-image-box {
      display: flex;
    }
    .final-image {
      width: 50%;
      align-self: center;
    }
  }
  @include query($small-screen) {
    padding: 0;
    header {
      padding: 10px;
      h2 {
        margin: 0;
        width: auto;
      }
    }
    .content {
      p {
        padding: 0.5rem;
        width: auto;
      }
      .final-image {
        width: 100%;
      }
    }
  }
}
