$charcoal:  #3A3A3A;
$maskingtape: #F2EDC4;
$gradienttop: rgba(60, 60, 60, 0.8);
$gradientbottom: rgba(60, 60, 60, 0.0);


$rem-base: 10px;
$paragraph-font-size: 1.6rem;
$header-large: 6rem;
$default-height: 1.2;
$expanded-height: 1.5;
$main-font: "niveau-grotesk", Helvetica, sans-serif;


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
