$charcoal:  #3A3A3A;
$maskingtape: #F2EDC4;
$gradienttop: rgba($charcoal, 0.8);
$gradientbottom: rgba($charcoal, 0.0);
$maskingtapegradient: rgba($maskingtape, 0.8);



$em-base: 10px;
$paragraph-font: 1.6rem;
$header-font: 7rem;
$small-line-height: 1;
$default-line-height: 1.5;
$expanded-line-height: 1.8;
$main-font: "niveau-grotesk", Helvetica, sans-serif;

$large-screen: 1040px;
$small-screen: 756px;

%default-paragraph {
  font-size: $paragraph-font;
  line-height: $default-line-height;
  max-width: 500px;
}

%default-a {
  text-decoration: underline;
  color: darken($maskingtape, 20%);
  &:hover {
    color: darken($maskingtape, 40%);
  }
}

%hideelem {
  opacity: 0;
  transition: all 1s ease-in-out;
}

%headerprops {
  z-index: 5;
}

%masker {
  overflow-x:hidden;
  margin: 0;
  color: $charcoal;
  background-color: $maskingtape;
  font-size: 1.7rem;
  text-align:center;
  padding: 0.4rem;
  position: relative;
}

%topleft {
  top: 0;
  left: 0;
}
