@import 'variables.scss';
//
// // body {
// //   background-color: #fff;
// //   color: $charcoal;
// //   font-family: $main-font;
// // }
// //
// // article {
// //   .main-header {
// //     h2 {
// //       color: $maskingtape;
// //       background-color: $charcoal;
// //     }
// //   }
// // }

header[role="banner"] {
  height: auto;
  text-align: center;
  color: $charcoal;
  background-color: #dfdfdf;
  padding: 15px;
}
article {
  width: 80%;
  .content {
    img {
      max-width: 100%;
    }
  }
  span {
    display: flex;
    justify-content: center;
  }
}
article.overview {
  flex-flow: column wrap;
}

@media screen and (max-width: 756px) {
  article {
    width: 100%;
    padding: 15px;
    .main-header {
      align-self: flex-end;
    }
  }
}
