@import 'variables.scss';
//
// // body {
// //   background-color: #fff;
// //   color: $charcoal;
// //   font-family: $main-font;
// // }
// //
// // article {
// //   .main-header {
// //     h2 {
// //       color: $maskingtape;
// //       background-color: $charcoal;
// //     }
// //   }
// // }

header[role="banner"] {
  margin-top: 0;
  height: auto;
  text-align: center;
  color: $maskingtape;
  padding: 6rem;
  h1 {
    font-size: 5rem;
  }
}
header.ShareAndTear {
  background: url("/images/case_studies/ShareAndTear_Case/shareandtear_banner.jpg");
}
header.NCTrans {
  background: url("/images/case_studies/NCTrans_Case/nctrans_banner.jpg");
}
article {
  margin: 3rem auto;
  flex-flow: row wrap;
  width: 80%;
  .main-header {
    width: 100%;
    text-align: left;
    h2 {
      font-size: 2rem;
      color: $maskingtape;
      background-color: transparent;
      margin: 0;
      padding: 0;
      border-bottom: 3px solid $maskingtape;
    }
  }
  .content {
    width: 100%;
    .final-image {
      width:90%;
    }
  }
}
#Research {
  .content {
    span {
      width: 230px;
      height: 230px;
      padding: 10px;
      img {
        width: 100%;
        padding: 5px;
      }
    }
  }
}
#Branding, #Objective, #Wireframes {
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 2rem 0;
  header {
    padding: 0;
    h2 {
      color: $charcoal;
      margin: auto;
      width: 80%;
      border-bottom: 3px solid $charcoal;
    }
  }
  .content {
    p {
      margin: 0;
      color: $charcoal;
      width: 80%;
    }
    a {
      color: $charcoal;
      &:hover {
        color: lighten($charcoal, 20%);
      }
    }
    span {
      width: 200px;
      padding: 10px;
    }
    article {
      width: auto;
      display:flex;
      flex-flow:row wrap;
      justify-content: center;
    }
  }
}

#Final {
  article {
    img {
      width: 200px;
    }
  }
}

article.overview {
  p {
    padding: 0;
  }
  section {
    width: 22%;
    margin: 10px;
  }
}

@media screen and (max-width: 756px) {
  main {
    margin: 0;
  }
  article {
    width: 100%;
  }
  header[role="banner"] {
    padding: 2.5rem;
    h1 {
      font-size: 2rem;
    }
  }
  #Branding, #Objective, #Wireframes {
    header {
      padding: 10px;
      h2 {
        margin: 0;
        width: auto;
      }
    }
    .content {
      p {
        width: auto;
      }
    }
  }
  article.overview {
    section {
      margin: 0;
      padding: 0 10px;
      width: 100%;
    }
  }
}
