@import 'variables';
@import 'mixins';
@import 'hamburger';
//body
html {
  font-size: $em-base;
}
body {
  background-color: $charcoal;
  color: $maskingtape;
  font-family: $main-font;
  margin: 0;
}
p {
  @extend %default-paragraph;
}
a {
  @extend %default-a;
}
// header content
h1, h2, h3,h4, h5, h6 {
  text-transform: uppercase;
}
header[role="banner"] {
  margin-top: 18%;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 250px;
  position: relative;
  h1 {
    @extend %headerprops;
    @extend %hideelem;
    font-size: $header-font;
    line-height: $small-line-height;
    margin: 0rem;
  }
  h3 {
    @extend %headerprops;
    @extend %hideelem;
    font-size: $header-font - 4;
    line-height: $small-line-height;
    margin: 0rem;
  }
  h5 {
    @extend %headerprops;
    @extend %hideelem;
    font-size: $header-font - 5;
    line-height: $small-line-height;
    margin: 0rem;
  }
  @include query($large-screen) {
    h1 {
      font-size: $header-font - 3.5;
      line-height: $small-line-height;
    }
    h3 {
      font-size: $header-font - 5;
      line-height: $small-line-height;
    }
    h5 {
      font-size: $header-font - 5.8;
      line-height: $small-line-height;
      margin: 0.8rem 0;
    }
  }
  @include query($small-screen) {
    height: 120px;
  }
}
a {
  color: darken($maskingtape, 20%);
  text-decoration: underline;
  &:hover {
    color: darken($maskingtape, 40%);
  }
}
img {
  padding: 10px;
}
article {
  margin: 10rem auto;
  z-index: 1;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  * {
    max-width: 1000px;
  }
  .main-header {
    align-self: flex-start;
    text-align: center;
    padding: 0.6rem;
    width: 20%;
    box-sizing: border-box;
    h2 {
      font-size: $header-font - 5;
      margin: auto;
      padding: 1rem;
      color: $maskingtape;
      @include border($maskingtape, $bottom: 4px, $top: 4px);
    }
  }
  .content {
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    justify-content: center;
    img {
      max-width: 90%;
    }
    article {
      margin: 0.5rem;
      width: 400px;
      align-self: baseline;
      flex-flow: column wrap;
      padding: 1%;
      .sub-header {
        display: flex;
        justify-content: flex-start;
        color: $maskingtape;
        background-color: none;
        @include border($maskingtape, $bottom: 4px);
        .img-container {
          width: 20%;
          .img-box {
            width: 100%;
            .section-img {
              max-width: 60px;
            }
          }
        }
        .header-container {
          display: flex;
          width: 80%;
          align-content: baseline;
        }
        img {
          padding: 5px;
        }
        h3 {
          font-size: $header-font - 5;
          align-self: center;
          margin: 0 0.8rem;
          display: inline;
        }
      }
    }
  }
  @include query($large-screen) {
    .main-header {
      width: 35%;
    }
    .content {
      width: 75%;
    }
  }
  @include query($small-screen) {
    overflow-x: hidden;
    margin: 2rem auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    .main-header {
      width: 80%;
      padding: 5px;
    }
    .sub-header {
      margin-left: 5px;
      margin-right: 5px;
    }
    .content {
      width: 100%;
      article {
        margin: 0.5rem;
        .sub-header {
          .img-container {
            width: 30%;
          }
          .header-container {
            width: 70%;
          }
        }
        img {
          max-width: 90%;
        }
      }
    }
  }
}
// .masker1 {
//   @extend %masker;
//   @extend %hideelem;
//   position: relative;
//   top: 10px;
//   left: 100px;
// }
// .masker2 {
//   @extend %masker;
//   @extend %hideelem;
//   position: relative;
//   bottom: 10px;
//   right: 200px;
// }
#About {
  img {
    width: 100%;
    height: auto;
  }
  article {
    align-self: center;
  }
  @include query($small-screen) {
    img {
      width: 100%;
      height: auto;
    }
  }
}
#Final {
  article {
    width: auto;
    max-width: 450px;
    img {
      max-width: 350px;
    }
  }
}
#Work {
  .content {
    article {
      display: flex;
      position: relative;
      /* establish nearest positioned ancestor for abs.positioning */
      max-height: 250px;
      align-items: center;
      a {
        align-self: center;
        text-align: center;
        margin: auto;
      }
    }
  }
}
//buttons
.button-article {
  width: 250px;
  align-content: center;
}
.social-media-links {
  ul {
    padding-left: 0;
    display: block;
    margin: 0.3rem;
    text-align: center;
    li {
      display: inline;
      list-style-type: none;
      a {
        text-decoration: none;
        img {
          padding: 0;
        }
      }
    }
  }
}
.button {
  font-size: $paragraph-font;
  padding: 0.8rem 1.5rem;
  color: darken($maskingtape, 70%);
  background-color: $maskingtape;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  &:hover {
    color: darken($maskingtape, 90%);
    background-color: darken($maskingtape, 20%);
  }
  &:focus {
    outline: 0;
  }
  img {
    width: 22px;
  }
  img,
  span {
    vertical-align: middle;
  }
}
//navigation
.top-nav {
  @include gradient($gradienttop, $gradientbottom);
  @extend %topleft;
  z-index: 15;
  width: 100%;
  position: fixed;
  text-transform: uppercase;
  height: 78px;
  ul {
    li {
      list-style-type: none;
    }
  }
}
.hamburger {
  padding: 10px;
  background-color: $maskingtape;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: darken($maskingtape, 15%);
    opacity: 1;
  }
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: $charcoal;
}
.main-menu {
  @extend %topleft;
  position: fixed;
  background: $charcoal;
  width: 100%;
  height: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
    &:nth-of-type(2) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.45s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.50s;
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
      li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
        a {
          font-size: $header-font - 4;
          font-weight: 400;
          text-transform: uppercase;
          display: block;
          position: relative;
          color: $maskingtape;
          text-decoration: none;
          overflow: hidden;
          transition: all 0.35s;
          &:hover {
            color: darken($maskingtape, 20%);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.responsive-menu {
  position: relative;
  margin: 10px;
  float: right;
  padding-left: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  @include query($small-screen) {
    padding-left: 0;
    display: block;
  }
}
.clearfix {
  clear: both;
}
.left {
  float: left;
}
.portrait-container {
  padding: 0;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 5%;
  width: 200px;
  #portrait-img,
  canvas {
    width: 100%;
    padding: 0;
  }
  canvas {
    opacity: 0.5;
  }
  #portrait-img {
    @extend %hideelem;
    right: 0;
    z-index: 0;
    width: 200px;
    top: 50px;
  }
  span {
    display: block;
    visibility: hidden;
    height: 500px;
  }
}

@import 'utility';
@import 'portfolio';
