@import 'variables.scss';
@import 'hamburger.scss';

body {
  background-color: $charcoal;
  color: $maskingtape;
  font-family: $main-font;
  margin: 0;
}
main {
  margin: 5px;
}


a {
  color: darken($maskingtape, 20%);
  text-decoration: underline;

  &:hover {
    color: darken($maskingtape, 40%);
  }
}
img {
  padding: 10px;
}

article {
  margin: 10rem auto;
  z-index: 1;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row;
  .main-header {
    align-self: flex-start;
    text-align: center;
    padding: 15px;
    width: 20%;
    h2 {
      margin: auto;
      padding: 20px;
      color: $charcoal;
      background-color: $maskingtape;
    }
  }
  .content {
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    justify-content: center;
    img {
      max-width: 100%;
    }
    article {
      margin: 1rem;
      width: 350px;
      align-self:baseline;
      flex-flow: column wrap;
      padding: 1%;
      .section-img {
        max-width: 60px;
      }
      .sub-header {
        display: flex;
        justify-content: flex-start;
        color: $maskingtape;
        background-color: none;
        border-bottom: 4px solid $maskingtape;
        .img-container {
          width: 20%;
        }
        .header-container {
          width: 80%;
        }
        div {
          display: flex;
          align-content: baseline;
          img {
            padding: 5px;
          }
          h3 {
            font-size: 20px;
            align-self: center;
            margin: 5px 15px;
            display: inline;
          }
        }
      }
      p {
        font-size: 1.4rem;
        text-align: left;
        a {
          text-decoration: underline;
          color: darken($maskingtape, 20%);
          &:hover {
            color: darken($maskingtape, 40%);
          }
        }
      }
    }
    .button-article {
      width: 250px;
      align-content: center;
    }
  }
}
  .masker {
    overflow-x:hidden;
    margin: 0;
    color: $charcoal;
    background-color: $maskingtape;
    font-size: 1.7rem;
    text-align:center;
    padding: 0.4rem;
    position: relative;
  }
  .masker1 {
    top: 10px;
    left: 100px;
  }
  .masker2 {
    bottom: 10px;
    right: 200px;
  }
#WhatIDo {
  .content {
    p {
      font-size: 1.1rem;
      padding: 0px;
    }
  }
}
#About {
  .sub-header {
    img {
      width: 100%;
      height:auto;
    }
  }
  .content {
    article {
      align-self: center;
      p {
        font-size: 1.4rem;
      }
    }
  }
}
#Final {
  article {
    width: auto;
    max-width: 450px;
    img {
      max-width: 350px;
    }
  }
}
#Work {
  .content {
    article {
      display: flex;
      position: relative;     /* establish nearest positioned ancestor for abs.positioning */
      max-height: 250px;
      align-items: center;
      a {
        align-self: center;
        margin: auto;
      }
    }
  }
}
.button {
  padding: 0.8rem 1.5rem;
  color: darken($maskingtape, 70%);
  background-color: $maskingtape;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  &:hover {
    color: darken($maskingtape, 90%);
    background-color: darken($maskingtape, 20%);
  }
  img {
    width: 22px;
  }
  img, span {
    vertical-align: middle;
  }
}

button:focus {outline:0;}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
.header-1, .header-2, .header-3, .masker1, .masker2 {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.header-3 {
  transition: all 0.5s ease-out;
}

.top-nav {
  z-index: 15;
  width: 100%;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  left: 0;
  height: 78px;
  background: $gradienttop;
  background: -moz-linear-gradient(top, $gradienttop, $gradientbottom);
  background: -webkit-linear-gradient(top, $gradienttop, $gradientbottom);
  background: -o-linear-gradient(top,  $gradienttop, $gradientbottom);
  background: -ms-linear-gradient(top, $gradienttop, $gradientbottom);
  background: linear-gradient(to bottom, $gradienttop, $gradientbottom);
  ul {
    li {
      list-style-type: none;
    }
  }
}
.main-menu {
  position: fixed;
  background: $charcoal;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  &.open {
  opacity: .9;
  visibility: visible;
  height: 100%;

  li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;

    &:nth-of-type(2) {
      animation-delay: .4s;
    }
    &:nth-of-type(3) {
      animation-delay: .45s;
    }
    &:nth-of-type(4) {
      animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        text-transform: uppercase;
        display: block;
        position: relative;
        color: $maskingtape;
        text-decoration: none;
        overflow: hidden;
        transition: all .35s;

        &:hover {
          color: darken($maskingtape, 20%);
          text-decoration: underline;
        }
      }
    }
  }
}

.social-media-links {
  ul {
    padding-left: 0px;
    display: block;
    margin: 0.3rem;
    text-align:center;
    li {
      display: inline;
      list-style-type: none;
      a {
        text-decoration: none;
        img {
          padding: 0;
        }
      }
    }
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


p {
  padding: 15px;
  font-size: 1.4rem;
}

.responsive-menu {
  position: relative;
  margin: 10px;
  float: right;
  padding-left: 0px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.antispam {
  display:none;
}

.clearfix {
  clear: both;
}
.fadeIn {
  visibility: visible !important;
  opacity: 1 !important;
}
.fadeInSoft {
  visibility: visible !important;
  opacity: 0.6 !important;
}
.left {
  float: left;
}

.hamburger {
  padding: 10px;
  background-color: $maskingtape;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: darken($maskingtape, 15%);
    opacity: 1;
  }
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: $charcoal;
}

.portrait-container {
  padding: 0px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 5%;
  width: 200px;
  .portrait, canvas {
    width:100%;
    opacity: 0.3;
    padding: 0px;
  }
  .portrait {
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }
  span {
    display: block;
    visibility: hidden;
    height: 500px;
  }
}

header[role="banner"] {
  height: 200px;
  margin-top: 15%;
  h1{
  font-size: 3rem;
  }
  h1, h2, h3 {
    z-index: 5;
  }
}

@media screen and (max-width: 1040px) {
  article {

    .main-header {
      width: 25%;
    }
    .content {
      width: 75%;
    }
  }

}
@media screen and (max-width: 756px) {
  header[role="banner"] {
    margin-top: 20%;
  }

  .responsive-menu {
    padding-left: 0px;
    display: block;
  }
  article {
    overflow-x: hidden;
    margin: 2rem auto;
    flex-flow: row wrap;
    .main-header {
      width: 80%;
      padding: 5px;
    }
    .content {
      width: 100%;
      article {
        margin: 0.5rem auto;
        img {
          max-width: 100%;
        }
      }
    }
    .sub-header {
      .section-img {
        height: 50px;
      }
    }
  }
  #About {
    .sub-header {
      img {
        width: 100%;
        height:auto;
      }
    }
  }
}
