
<nav class="top-nav">
  <ul class="responsive-menu">
    <li>
      <button class="hamburger hamburger--spin" type="button" aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    </li>
  </ul>
</nav>
<section class="main-menu">
  <nav>
    <ul>
      <li>
        <a class="WhatIDo" data-target="WhatIDo">What I Do</a>
      </li>
      <li>
        <a class="Work" data-target="Work">Work</a>
      </li>
      <li>
        <a class="About" data-target="About">About</a>
      </li>
      <li>
        <a class="contact" data-target="Contact">Contact</a>
      </li>
    </ul>
  </nav>
</section>

<div class="portrait-container">
  <canvas id="portrait">

  </canvas>
  <img class="portrait hidden" src="/images/TaitWayland.svg" width="500" alt="portrait" />
  <span>portrait</span>
</div>

<!-- <div class="backToTop">
  <a href="#"><i class="fa fa-arrow-up"></i></a>
</div> -->
<main>
  <header class="main-header" role="banner">
    <h1 class="header-1">{{data.header[0].header1}}</h1>
    <h3 class="header-2">{{data.header[0].header2}}</h3>
    <h5 class="header-3">{{data.header[0].header3}}</h5>
  </header>
 <article id="WhatIDo">
   <header class="main-header"><h2>{{ data.WhatIDo[0].name }}</h2></header>
   <section class="content">
     <article ng-repeat="section in data.WhatIDo[0].sections">
       <header class="sub-header">
         <div class="img-container">
           <img class="section-img" ng-src="{{ section.img }}" />
         </div>
         <div class="header-container">
           <h3>{{ section.title}}</h3>
         </div>
       </header>
       <p>
         {{ section.description}}
       </p>
     </article>
   </section>
 </article>
 <article id="Work">
   <header class="main-header"><h2>{{ldjson[0].hasOfferCatalog.name}}</h2></header>
   <section class="content">
     <article ng-repeat="key in ldjson[0].hasOfferCatalog.itemListElement">
          <a href="{{key.itemOffered.url}}"><img class="portfolio-image" src="{{key.itemOffered.image}}" alt="{{key.itemOffered.name}} image" /></a>
     </article>
   </section>
 </article>
 <article id="About">
   <header class="main-header"><h2>{{data.About}}</h2></header>
   <section class="content">
     <article class="aboutimg">
       <h1 class="masker masker1">? &#9632;\! B&#9632;S &amp; &#9632;T </h1>
           <img src="{{data.ldjson[0].image}}" alt="AboutMe"/>
           <h1 class="masker masker2"> !% &#9632;&#9632;\&amp;! TA  &#9632;L*T </h1>
     </article>
     <article class="aboutcontent">
       <p>
         {{data.AboutSection[0].Section1}} <a href="{{data.AboutSection[0].CodeforBhamUrl}}" target="_blank">{{data.AboutSection[0].CodeForBham}}</a>. I also occassionally <a href="{{data.AboutSection[0].PracticalDreamUrl}}" target="_blank">draw stuff</a>.
       </p>
     </article>
   </section>
 </article>
 <article id="Contact">
   <header class="main-header"><h2>Contact</h2></header>
   <section class="content">
     <article>
       <h3>
         Drop me a line
       </h3>
       <!-- Change the width and height values to suit you best -->
      <div class="typeform-widget" data-url="https://tait4.typeform.com/to/bpM8Bc" data-text="Contact Form" style="width: auto;height:500px;"></div>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
     </article>
   </section>
 </article>
</main>

<script async type="text/javascript" src="scripts/min/html2canvas-min.js"></script>
<script async type="text/javascript" src="scripts/glitch.js"></script>
<script type="text/javascript">
  !function($){function t(t){var e="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789,.?/\\(^)![]{}*&^%$#'\"",a=e.split("");return a[Math.floor(Math.random()*a.length)]}$.fn.shuffleLetters=function(e){var a=$.extend({step:8,fps:45,text:"",callback:function(){}},e);return this.each(function(){var e=$(this),n="";if(e.data("animated"))return!0;e.data("animated",!0),n=a.text?a.text.split(""):e.text().split("");for(var i=[],r=[],f=0;f<n.length;f++){var s=n[f];" "!==s?r.push(f):i[f]="space"}e.html(""),function o(i){var f,s=r.length,u=n.slice(0);if(i>s)return e.data("animated",!1),void a.callback(e);for(f=Math.max(i,0);s>f;f++)f<i+a.step?u[r[f]]=t([r[f]]):u[r[f]]="";e.text(u.join("")),setTimeout(function(){o(i+1)},1e3/a.fps)}(-a.step)})}}(jQuery);
</script>
<ldjson data-json="ldjson"></ldjson>
