
<nav class="top-nav">
  <ul class="responsive-menu">
    <li>
      <button ng-click="menuToggle()" class="hamburger hamburger--spin" type="button" aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    </li>
  </ul>
</nav>
<section class="main-menu">
  <nav role="navigation">
    <ul>
      <li>
        <a id="work-link" ng-click="toSection('Work')" role="menuitem">Work</a>
      </li>
      <!-- <li>
        <a id="whatIdo-link" ng-click="toSection('WhatIDo')" role="menuitem">What I Do</a>
      </li>
      <li>
        <a id="about-link" ng-click="toSection('About')" role="menuitem">About</a>
      </li> -->
      <li>
        <a id="contact-link" ng-click="toSection('Contact')" role="menuitem">Contact</a>
      </li>
    </ul>
  </nav>
</section>

<div class="portrait-container">
  <canvas id="portrait"></canvas>
  <img id="portrait-img" ng-src="/images/TaitWayland.svg" width="500" alt="portrait" />
  <span>portrait</span>
</div>

<main>
  <header class="main-header" role="banner">
    <h1 class="header-1">{{data.header[0].header1}}</h1>
    <h3 class="header-2">{{data.header[0].header2}}</h3>
    <h5 class="header-3">{{data.header[0].header3}}</h5>
  </header>
  <article id="Work" aria-labelledby="work-link">
    <header class="main-header"><h2>{{ldjson[0].hasOfferCatalog.name}}</h2></header>
    <section class="content">
      <article ng-repeat="key in ldjson[0].hasOfferCatalog.itemListElement">
           <a href="{{key.itemOffered.url}}">
             <img class="portfolio-image" ng-src="{{key.itemOffered.image}}" alt="{{key.itemOffered.name}} image" />
           </a>
      </article>
    </section>
</article>
 <!-- <article id="WhatIDo" aria-labelledby="whatIdo-link">
   <header class="main-header"><h2>{{ data.WhatIDo[0].name }}</h2></header>
   <section class="content">
     <article ng-repeat="section in data.WhatIDo[0].sections" ng-animate="'animate'">
       <header class="sub-header">
         <div class="img-container">
           <div class="img-box">
             <img class="section-img" ng-src="{{ section.img }}" />
           </div>
         </div>
         <div class="header-container">
           <h3>{{ section.title}}</h3>
         </div>
       </header>
       <p>
         {{ section.description}}
       </p>
     </article>
   </section>
 </article> -->
 <article id="Contact" aria-labelledby="contact-link">
   <header class="main-header"><h2>Contact</h2></header>
   <section class="content">
     <article class="button-article">
         <div class="social-media-links">
           <ul>
             <li>
               <a href="{{data.linkedinurl}}" target="_blank">
                 <img src="images/linkedin.svg" width="60px"/>
               </a>
             </li>
             <li>
               <a href="{{data.githuburl}}" target="_blank">
                 <img src="images/github.svg" width="60px"/>
               </a>
             </li>
           </ul>
         </div>
          <a class="button" href="https://tait4.typeform.com/to/bpM8Bc" target="_blank" role="button" aria-label="contact me"><img src="images/mail.png" /><span></span></a>
     </article>
   </section>
 </article>
</main>

<script async type="text/javascript" src="scripts/min/html2canvas-min.js"></script>
<script type="text/javascript" src="scripts/glitch.js"></script>
<script type="text/javascript">
  !function($){function t(t){var e="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789,.?/\\(^)![]{}*&^%$#'\"",a=e.split("");return a[Math.floor(Math.random()*a.length)]}$.fn.shuffleLetters=function(e){var a=$.extend({step:8,fps:45,text:"",callback:function(){}},e);return this.each(function(){var e=$(this),n="";if(e.data("animated"))return!0;e.data("animated",!0),n=a.text?a.text.split(""):e.text().split("");for(var i=[],r=[],f=0;f<n.length;f++){var s=n[f];" "!==s?r.push(f):i[f]="space"}e.html(""),function o(i){var f,s=r.length,u=n.slice(0);if(i>s)return e.data("animated",!1),void a.callback(e);for(f=Math.max(i,0);s>f;f++)f<i+a.step?u[r[f]]=t([r[f]]):u[r[f]]="";e.text(u.join("")),setTimeout(function(){o(i+1)},1e3/a.fps)}(-a.step)})}}(jQuery);
</script>
<script async>
  ga('send', 'screenview', {screenName: 'home'});
</script>
<ldjson type="application/ld+json" data-json="ldjson"></ldjson>
