<!-- <link rel="stylesheet" href="css/portfolio.css" /> -->
<nav class="top-nav">
      <ul class="responsive-menu">
        <li>
          <a href="#/">
            <button class="hamburger hamburger--arrowalt" type="button" aria-label="Menu" aria-controls="navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
          </button>
        </a>
        </li>
      </ul>
</nav>
<main>
  <header role="banner">
  <h1>{{data.title}}</h1>
  <h3>{{data.brief}}</h3>
  <h4>Created: {{data.created}}</h4>
  <h4>Industry: {{data.industry}}</h4>
  <h4>Duties: {{data.duties}}</h4>
  <h4>Technologies: {{data.technology}}</h4>
  <header>
  <article>
     <header class="main-header"><h2>objective</h2></header>
     <section class="content">
         <p>
           {{data.objective}}
         </p>
     </section>
  </article>
  <article>
    <header class="main-header"><h2>{{data.challenge[0].title}}</h2></header>
    <section class="content">
      <p>
        {{data.challenge[0].section1}}
        <br />
        {{data.challenge[0].section2}}
        <br />
        {{data.challenge[0].section3}}
        <br />
        {{data.challenge[0].section4}}
      </p>
    </section>
  </article>
  <article>
    <header class="main-header">
      <h2>{{data.research[0].title}}</h2>
    </header>
    <section class="content">
        <p>
          {{data.research[0].section1}}<a href="{{data.research[0].VulcanUrl}}">{{data.research[0].VulcanPark}}</a> {{data.research[0].section2}}
        </p>
    </section>
  </article>
  <article>
    <header class="main-header"><h2>Wireframing</h2></header>
    <section class="content">
      <p>
        {{data.wireframing}}
      </p>
    </section>
  </article>
  <article>
    <header class="main-header"><h2>Technologies</h2></header>
    <section class="content">
      <p>
        {{data.technologies[0].section1}}
        <br /><br />
        {{data.technologies[0].section2}}
      </p>
    </section>
  </article>
  <article>
    <section class="content">
      <article>
        <img src="{{data.images}}/home page.png" />
      </article>
      <article>
        <img src="{{data.images}}/visit.png" />
      </article>
    </section>
  </article>
</main>
