<nav class="top-nav">
      <ul class="responsive-menu">
        <li>
          <a href="#/">
            <button class="hamburger hamburger--arrowalt" type="button" aria-label="Menu" aria-controls="navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
          </button>
        </a>
        </li>
      </ul>
</nav>
<main class="portfolio-content">
  <header class="NCTrans portfolio-header" role="banner">
    <h3>{{data.title}}</h3>
    <p>{{data.brief}}</p>
  </header>
  <article class="overview">
    <article>
      <section>
        <header>
          <h3>Created</h3>
        </header>
        <p>{{data.created}}</p>
      </section>
      <section>
        <header>
          <h3>Industry</h3>
        </header>
        <p>
          {{data.industry}}
        </p>
      </section>
      <section>
        <header>
          <h3>Duties</h3>
        </header>
        <p>
          {{data.duties}}
        </p>
      </section>
      <section>
        <header>
          <h3>Tech</h3>
        </header>
        <p>
          {{data.technology}}
        </p>
      </section>
    </article>
  </article>
  <article>
     <header class="main-header"><h2>objective</h2></header>
     <section class="content">
         <p>
           {{data.objective}}
         </p>
     </section>
  </article>
  <article id="Challenges">
    <header class="main-header"><h2>{{data.challenge[0].title}}</h2></header>
    <section class="content">
      <span>
        <img ng-src="{{data.images}}/{{data.challenge[0].image1}}" alt="client meeting" />
      </span>
      <p>
        {{data.challenge[0].section1}}
        <br />
        {{data.challenge[0].section2}}
        <br />
        {{data.challenge[0].section3}}
        <br />
        {{data.challenge[0].section4}}
      </p>
    </section>
  </article>
  <article id="Research">
    <header class="main-header">
      <h2>{{data.research[0].title}}</h2>
    </header>
    <section class="content">
      <span><img ng-src="{{data.images}}/{{data.inspiration[0].image1}}" alt="inspiration1" /></span>
      <span><img ng-src="{{data.images}}/{{data.inspiration[0].image2}}" alt="inspiration2" /></span>
      <span><img ng-src="{{data.images}}/{{data.inspiration[0].image3}}" alt="inspiration3" /></span>
        <p>
          {{data.research[0].section1}}<a href="{{data.research[0].VulcanUrl}}">{{data.research[0].VulcanPark}}</a> {{data.research[0].section2}}
        </p>
    </section>
  </article>
  <article id="Branding">
    <header class="main-header"><h2>{{data.branding[0].title}}</h2></header>
    <section class="content">
      <article>
        <p>
          We were provided documentation with the museum's branding at the time of the project to work from. Colors were slightly changes to improve contrast.
          More on the branding process can be found <a href="https://projects.invisionapp.com/boards/VE1ZXGIUY7KFW/">here.</a>
        </p>
      </article>
      <span ng-repeat="image in data.branding[0].images[0]" ng-animate="'animate'">
        <img ng-src="{{data.images}}/{{image}}" />
      </span>
      <article class="final-image-box">
        <img class="final-image" ng-src="{{data.images}}/{{data.branding[0].finalimage}}" />
      </article>
    </section>
  </article>
  <article>
    <header class="main-header"><h2>{{data.wireframing[0].title}}</h2></header>
    <section class="content">
      <article ng-repeat="image in data.wireframing[0].images[0]">
        <img ng-src="{{data.images}}/{{image}}" alt="{{image}}" />
      </article>
      <p>
        {{data.wireframing[0].section1}}
      </p>
    </section>
  </article>
  <article>
    <header class="main-header"><h2>{{data.technologies[0].title}}</h2></header>
    <section class="content">
      <p>
        {{data.technologies[0].section1}}
        <br /><br />
        {{data.technologies[0].section2}}
      </p>
    </section>
  </article>
  <article id="Final">
    <header class="main-header"><h2>{{data.final[0].title}}</h2></header>
    <section class="content">
      <article ng-repeat="image in data.final[0].images[0]">
        <img ng-src="{{data.images}}/{{image}}" />
      </article>
    </section>
  </article>
  <article>
    <header class="main-header"></header>
    <section class="content">
    <a href="#/"><h2>< Back Home</h2></a>
    </section>
  </article>
</main>

<ldjson type="application/ld+json" data-json="data"></ldjson>
